.newfold-image-optimization .nfd-toggle-field__description {
	opacity: 1 !important;
}

.nfd-text-red {
	color: #e63946;
}

.nfd-bulk-optimize-images-link {
	color: #05c !important;
	font-weight: 700;
}
